.div3{
    background-image: url("../images/Screenshot from 2025-04-23 14-33-38.png");
    background-position: top right;   
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 70px;
    width: 150px;
    height: 150px;
    float: right;
    margin: 1%;
}

.div2{
    display: inline-block;
    padding: 2%;
}

.div2 > p{
   
    font-size: 21px;
    margin-left: 3px;
}

.div2 > h1{
    font-size: 45px;
}

.div1{
    width: 55%;
    margin-left: 8%;
}

.diva{
    padding: 1%;
}

.med{
    padding: 4%;
}
.last{
    float: right;
    width: 25%;
    margin-right: 3%;
    border-radius: 7px;
    padding: 1%;
    color:#484652e1
}
.bt{
    padding: 1%;
}
.divb{
    padding-top: 4%;
}

.last div ul li
{
    padding: 1%;
}

.div4{
    margin-top: 5%;
    padding-right: 17%;
    padding-left: 8%;
}

.f1{
    color: #6d6d75;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
}

.f2{
    color:#8a8080;
    font-size: 13.5px;
}

body{
    background-color: #f1e8dd;;
    color: #302e33dc;
}



a{
    color:#484652e1
}

